@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-pixelify: "Pixelify Sans", "sans-serif";

  --animate-wiggle: wiggle 1s ease-in-out 1s 2;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0turn);
    }
    50% {
      transform: rotate(0.05turn);
    }
  }
}
